.Person {
  width: 60%;
  margin: 18px auto; 
  /* items-align:center; */
  text-align:center;
  border: 1px solid #eeeeee;
  box-shadow: 2px 4px  18px aquamarine;
  padding: 18px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: aliceblue;
  background-color: blue;
  border-radius: 8px
} 
.InputText {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: 2px 4px 18px skyblue;
} 

@media(min-width:500px) {
  .Person {
    width: 450px;
  }
  
}
