/* .Person {
  width: 60%;
  margin: auto ;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 3px aquamarine;
  padding: 18px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: aliceblue;
  background-color: blue;
} */
/* .input-text {
  padding: 8px;
  outline-color: aquamarine;
} */